.container {
  display: flex;
  flex-direction: column;
  background: #76b3e9;
  padding: 20px;
  border-radius: 8px;
  width: 240px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
